/* GLOBAL STYLE */
* {
  font-family: Montserrat, sans-serif;
  padding: 0;
  margin: 0;
}

/* PREVENTS THE TEXT SELECTION */
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* STOP DRAGGING IMAGES */
.no-pointer-events {
  pointer-events: none;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: rgb(16, 15, 15);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

/* POPUPS STYLE */
.popup {
  background-color: #ffffff;
  width: 90%;
  max-width: 450px;
  height: auto;
  padding: 20px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 15px;
  color: black;
  box-shadow: 0px 1px 15px rgb(0, 0, 0);
  text-align: center;
}

.popup-heading {
  text-align: center;
}

.popup-anchor {
  display: block;
  width: 150px;
  margin: 20px auto 0;
  text-align: center;
  background-color: #0f72e5;
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.popup-paragraph {
  font-size: 1rem;
  text-align: center;
  margin: 20px 0;
}

.popup-second-paragraph {
  margin-top: 15%;
}
/* Popup that shows when level complete*/
.popup-level-complete {
  height: 40%;
}

.popup-level-complete-heading {
  color: #38b23a;
}

/* Score that's being displayed on the level-complete popup */
.score-calculator {
  margin-top: 4%;
}

.score-calculated {
  font-size: 150%;
  font-weight: bold;
}
/* Paragraph mentioning the next level is under construction*/
.popup-level-under-construction {
  color: #f7360b;
  font-weight: bold;
  font-size: 120%;
  margin-top: 10%;
}

.popup-restart {
  margin-top: 10%;
}

/* POPUPS CLOSE "X" STYLE*/
.close {
  display: block;
  margin: 0 0 20px auto;
  background-color: transparent;
  font-size: 30px;
  color: #c5c5c5;
  border: none;
  outline: none;
  cursor: pointer;
}

/* MAIN MENU STYLE */
.menu-container {
  width: 60%;
  height: 80%;
  background-color: #badcf9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-size: cover;
  background-repeat: no-repeat;
}

/* MAIN MENU BUTTONS WRAPPER */
.button-wrapper {
  display: flex;
  flex-flow: column wrap;
  width: 30%;
  height: 20%;
  justify-content: center;
  align-items: center;
  gap: 10%;
  border-radius: 15px;
  background-color: #ffffff00;
}

/* Menu buttons style*/
.menu-btn {
  width: 90%;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  transition: background-color 0.3s ease;
  background: #3d94f6;
  background-image: -webkit-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -moz-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -ms-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -o-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -webkit-gradient(to bottom, #3d94f6, #1e62d0);
  color: #ffffff;
  text-shadow: 1px 1px 20px #000000;
  box-shadow: 0px 1px 5px 0 #000000;
  border: solid #337fed 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  
}

.menu-btn:hover {
  cursor: pointer;
  background-color: rgb(179, 217, 249);
  border: solid #337fed 1px;
  background: #1e62d0;
  background-image: -webkit-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -moz-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -ms-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -o-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -webkit-gradient(to bottom, #1e62d0, #3d94f6);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-decoration: none;
}

/* GAME LOGO TITLE */
.title {
  background-color: #ffffff66 ;
  box-shadow: 1px 10px 1000px rgba(255, 255, 255, 0.6);
  padding: 20px;
  border-radius: 10px;
}

.title-heading {
  color: rgb(178, 59, 59);
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin: 0;
  text-shadow: 1px 1px 1px black;
}
/*The Javascaript logo in the title*/
.fa-square-js {
  color: orange;
  font-size: 4rem;
  text-shadow: 1px 1px 0.5px rgb(0, 0, 0);
}

/* GAME AREA STYLE*/
/* GAME AREA WRAPPER */
.game-area-wrapper {
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  width: 90%;
  padding: 20px;
  display: flex;
}

.game-area-button-wrapper{
  display:flex;
  flex-flow:column wrap;
  gap:5%;
}

/*The music button in the game area*/
.game-music-btn {
  height: 40px;
  width: 100px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
  display: block;
  padding: 0px;
}

.game-music-btn:hover {
  background-color: rgb(179, 217, 249);
}

.red{
  color:#f7360b
}

.green{
  color:#38b23a
}

/* CARD GRID STYLE */
.game-grid {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: #ffffff66;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(2px);
}
/* Default style for the cards on the game grid */
.game-grid img {
  width: 100px;
  height: 100px;
  box-shadow: 10px 10px 2px rgba(30, 30, 30, 0.15);
  cursor: pointer;
  border-radius: 0px; 
  transition: box-shadow 0.3s ease, border-radius 0.2s ease; 
}

.game-grid img:hover,
.game-grid img:active { 
  box-sizing: border-box;
  box-shadow: 0px 0px 20px #f0f07d;
  border-radius: 15px;
}

/* USED TO HIDE USING FUNCTION hideShowElement*/
.hide {
  display: none;
}

/* SCORE AREA STYLE */
.score {
  font-size: 2.5rem;
  display: block;
  text-shadow: 0 1px 5px #090909;
  font-weight: bold;
}

.high-score-paragraph {
  font-size: 50%;
}

.timer-text {
  text-align: center;
}

/* GAME VERSION STYLE */
.version-game-container {
  font-weight: 800;
}

.version-paragraph {
  color: #252222df;
}

/* Media Queries for Responsiveness */
@media (max-width: 1367px) {
  .score {
    margin: 0 auto;
  }

  .game-area-button-wrapper{
    flex-flow: row wrap;
    margin:0 auto;
    justify-content: center;
    width:50%
  }

  .game-grid{
    margin:0 auto;
    padding-top:10%;
    padding-bottom: 10%;
  }
}

@media (max-width: 768px) {
  .title-heading {
    font-size: 3rem;
  }

  .menu-btn {
    width: 100%;
    font-size: 1rem;
  }

  .button-wrapper {
    width: 50%;
    flex-direction: column;
  }

  .game-music-btn {
    width: 50%;
    height: 70%;
    font-size: 70%;
  }

  .game-area-button-wrapper{
    flex-flow: column wrap;
  }

}

@media (max-width: 540px) {
  .game-grid img {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 480px) {
  .title-heading {
    font-size: 1.5rem;
  }

  .menu-container {
    width: 88%;
    height: 90%;
    position: absolute;
    top: 0%;
  }

  .menu-btn {
    width: 100%;
    font-size: 0.9rem;
  }

  .popup {
    width: 80%;
  }

  .game-grid img {
    width: 80px;
    height: 80px;
  }

  .score {
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .game-music-btn {
    width: 50%;
    height: 70%;
    font-size: 70%;
  }

  .game-area-button-wrapper{
    flex-flow: column wrap;
    margin:0 auto;
    justify-content: center;
    width:50%
  }

  @media (max-width: 380px) {
    .title {
      padding: 3%;
    }
    .game-grid {
      padding: 2%;
      max-width: 300px;
      margin: 0 auto;
    }
    .version-game-container {
      margin: 0 auto;
    }

    .game-music-btn {
      width: 50%;
      height: 70%;
      font-size: 70%;
    }

    .popup-level-complete {
      height: 50%;
      margin: 0 auto;
    }

    .popup-first-paragraph {
      padding: 0%;
    }

    .title {
      font-size: 80%;
    }

  }

  @media (max-width: 325px) {
    .menu-container {
      width: 85%;
    }

    .game-grid img {
      width: 60px;
      height: 60px;
    }
  }
}
