* {
    font-family: Montserrat, sans-serif;
    padding: 0;
    margin: 0;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.no-pointer-events{
    pointer-events: none;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: rgb(16, 15, 15);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.popup{
    background-color: #ffffff;
    width: 90%;
    max-width: 450px;
    height: auto;
    padding: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 15px;
    color: black;
    display: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.close {
    display: block;
    margin: 0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #c5c5c5;
    border: none;
    outline: none;
    cursor: pointer;
}

.popup-anchor {
    display: block;
    width: 150px;
    margin: 20px auto 0;
    text-align: center;
    background-color: #0f72e5;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.popup-heading {
    text-align: center;
}

.popup-paragraph {
    font-size: 1rem;
    text-align: center;
    margin: 20px 0;
}

.menu-container {
    width: 90%;
    height:50%;
    max-width: 1000px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-image: url("../img/game-background.png");
    background-size: cover;
    border-radius: 15px;
    
}

.button-wrapper {
    display:flex;
    flex-wrap: column wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
    flex-direction: column;
}

.title {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 1px 10px 20px rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 10px;
}

.title-heading {
    color: rgb(178, 59, 59);
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin: 0;
    text-shadow: 1px 1px 1px black;
}

.fa-square-js {
    color: orange;
    font-size: 2rem;
    text-shadow: 1px 1px 0.5px rgb(0, 0, 0);
}

.menu-btn {
    width: 30%;
    min-width: 120px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 15px;
    border: 1.2px solid black;
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s ease;
    
}

.menu-btn:hover {
    cursor: pointer;
    background-color: rgb(179, 217, 249);
}

.game-area-wrapper {
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    padding: 20px;
}

.game-music-btn {
    height: 40px;
    width: 100px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 15px;
    border: 1.2px solid black;
    display: none;
}

.game-grid {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(2px);
}

.game-grid img {
    width: 100px;
    height: 100px;
    box-shadow: 10px 10px 2px rgba(30, 30, 30, 0.15);
}

.score {
    font-size: 1.6rem;
    display: none;
    width:10rem;
    
    
    
}

.high-score-paragraph{
    font-size: 50%;
}

.timer-text{
    display:none;
    text-align: center;
}

.popup-game-over{
    display:none;
}

.version-game-container {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    font-weight: 800;
}

.version-paragraph {
    color: white;
    text-shadow: 1px 1px 1px black;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .title-heading {
        font-size: 3rem;
    }

    .menu-btn {
        width: 100%;
        font-size: 1rem;
    }

    .button-wrapper {
        width: 50%;
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .title-heading {
        font-size: 1.5rem;
    }

    .menu-btn {
        width: 100%;
        font-size: 0.9rem;
    }

    .popup{
        width: 80%;
    }

    .game-grid img {
        width: 80px;
        height: 80px;
    }
}
